@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* globales */
body{
    font-family: Raleway;
    font-weight: 300;
    font-size: 16px;
    color: #707070;
}
header{
    min-height: 100px;
    background:#262626;
}
a{
    text-decoration: none;
}
h2{
    font-weight: 600;
    font-size: 24px;
    color: white;
}
    header div{
        width: 1100px;
        margin: auto;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }
    header a img{
        width: 70px;
        height: 70px;
        vertical-align: middle;
        margin-right: 8px;
    }
    
    header nav a{
        color: #fff;
        padding: 12px;
        font-family: Raleway;
        font-weight: 600;
    }

    header nav a:hover{
        background-color: #FF8225;
        transition: .3s;
        border-radius: 40px;
    }
/*##### main login  #####*/
#login{

    padding: 60px 0px;
    background-image: url(../imgs/fonfo-main1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -50px;
    
}
    #login section{
        background-color:#173B45;
        width: 500px;
        margin: auto;
        padding: 60px;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #login img{
        width: 120px;
        height: 120px;
        margin: 30px 30px;
    }
    #login form{
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    #login input,
    #login button
    {
        width: 70%;
        border-radius: 12px;
        border:none;
        padding: 16px;
        font-family: Raleway;
        font-weight: 600;
        color: #707070;
    }

    #login input
    {
        border: 1px solid #e8e8e8;
        background-color: #F4F4F4;
        margin-bottom: 16px;
    }

    #login button{
        background-color: #FF8225;
        color: #fff;
        transition: .3s;
        padding: 12px 16px;
        cursor: pointer;
        
    }
    #login button:hover{
        background-color: #ca6b22;
    }
/*##### main torneos  #####*/
#fondo-torneos{
    height: 450px;
    padding: 60px 0px;
    background-image: url(../imgs/fondo\ torneos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
}
        #fondo-torneos section{
        width: 1000px;
        margin: auto;
        padding: 30px;
        border-radius: 16px;
        display: flex;
        justify-content: space-evenly;
        }
        #fondo-torneos article{
            width: 200px;
            height: 150px;
            background-color: #F4F4F4;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.6;
            border-radius: 16px;
            border: 1px solid #e8e8e8;
        }
        #fondo-torneos section img{
            width: 72px;
            height: 72px;
            border: 2px solid #000000;
            border-radius: 36px;
            margin-top: 20px;
        }
        #fondo-torneos article:hover{
            transition: .5s;
            background-color: #B43F3F;
            color: white;
            border-radius: 16px;
            border: 1px solid  #8c3232;
        }
        #fondo-torneos section img:hover{
            background-color: white;
            margin: 10px;
        }
        #navtorneos{
            width: 1000px;
            margin: auto;
            display: flex;
            justify-content: center;
        }
        #navtorneos a{
            text-decoration: none;
            padding: 8px 12px;
            margin: 8px 2px 8px 2px;
            background-color:#173B45;
            color: white;
            border-radius: 8px 8px 0 0;
            transition: .3s;
            font-family: Raleway;
            font-weight: 300;
            font-size: 12px;
        }
        #navtorneos a:hover{
            background-color: #ca6b22;
        }
        #usuariostorneo{
            display: flex;
            justify-content: center;
            width:1000px;
            margin:auto;
        }
        #usuariostorneo form{
            width: 250px;
        }
        #usuariostorneo input,
        #usuariostorneo button
        {
            width: 100%;
            border-radius: 12px;
            border:none;
            padding: 16px;
            font-family: Raleway;
            font-weight: 600;
            color: #707070;
        }
    
        #usuariostorneo input
        {
            border: 1px solid #e8e8e8;
            background-color: #F4F4F4;
            margin-bottom: 16px;
        }
    
        #usuariostorneo button{
            background-color: #FF8225;
            color: #fff;
            transition: .3s;
            padding: 12px 16px;
            margin-top: 10px;
        }
        #usuariostorneo button:hover{
            background-color: #ca6b22;
        }
        #formatotorneo{
            border-collapse: collapse;
            padding: 8px;
            background-color: white;
        }
        .torneo{
            width: 200px;
            height: 200px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: Raleway;
            color: #000000;
            background-color: #fff;
            line-height: 1.6;
            border-radius: 16px;
            border: 1px solid #e8e8e8;
        }
        .torneo:hover{
            transition: .5s;
            background-color: #B43F3F;
            color: white;
            border-radius: 16px;
            border: 1px solid  #8c3232;
            cursor: pointer;
        }
        .torneo h3{
            padding: 10px;
        }
        .torneo p{
            margin-bottom: 5px;
        }
        #formtorneo select {
            width: 100%;
            border-radius: 12px;
            border: 1px solid #e8e8e8;
            background-color: #F4F4F4;
            padding: 16px;
            font-family: Raleway;
            font-weight: 600;
            color: #707070;
            margin-bottom: 16px;
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none; 
        }
        
        #formtorneo select:focus {
            border-color: #FF8225; 
        }
        #torneoscreados{
            width: 1000px;
            margin: auto;
            padding: 30px;
            border-radius: 16px;
            display: flex;
            justify-content: space-evenly;
            }
        .newtorneo{
            background-color: #FF8225;
            color: #fff;
            transition: .3s;
            padding: 12px 16px;
            margin-top: 10px;
            width: 50%;
            border-radius: 12px;
            border:none;
            font-family: Raleway;
            font-weight: 600;
        }
        .newtorneo:hover{
            background-color: #ca6b22;

        }
/*##### main perfil  #####*/

#fondo-profile{

    padding: 60px 0px;
    background-image: url(../imgs/fondoperfil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -200px;
}
    #fondo-profile section{
        background-color:#173B45;
        width: 1000px;
        margin: auto;
        padding: 60px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #formulario-perfil{
        width:550px;
        margin-right:70px;
    }

    #formulario-perfil h2{
        color: white;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }
    #formulario-perfil input
    {
        width: 100%;
        border-radius: 12px;
        border:none;
        padding: 16px;
        font-family: Raleway;
        font-weight: 600;
        color: #707070;
        margin-right: 12px;
    }
    #formulario-perfil button{
        width: 30%;
        border-radius: 12px;
        border:none;
        padding: 12px 16px;
        font-family: Raleway;
        font-weight: 600;
        color: #fff;
        margin-right: 16px;
        background-color: #FF8225;
        transition: .3s;
        padding: 12px 16px;
        text-align: center;
        margin-right: 12px;
    }

    #formulario-perfil input
    {
        border: 1px solid #e8e8e8;
        background-color: #F4F4F4;
        margin-bottom: 16px;
    }

    #formulario-perfil button:hover{
        background-color: #ca6b22;
    }

    #fondo-profile div img{
        width: 270px;
        height: 342px;
        border-radius: 36px;
        padding: 2px;
        margin-top: 12px;
    }
    #botones{
        width:550px;
        margin-right:70px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    } 
    #formperfil select {
        width: 100%;
        border-radius: 12px;
        border: 1px solid #e8e8e8;
        background-color: #F4F4F4;
        padding: 16px;
        font-family: Raleway;
        font-weight: 600;
        color: #707070;
        margin-bottom: 16px;
        -webkit-appearance: none; 
        -moz-appearance: none; 
        appearance: none; 
    }
    
    #formperfil select:focus {
        border-color: #FF8225; 
    }
    #datosPersonales{
        margin-bottom: 20px;
        color: white;
    }


/*##### main contacto  #####*/
#fondo-contacto{

    padding: 60px 0px;
    background-image: url(../imgs/fondo\ contacto2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -300px;
}
    #fondo-contacto section{
        background-color: #fff;
        width: 1000px;
        margin: auto;
        padding: 60px;
        border-radius: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #formulario{
        width:550px;
        margin-right:70px;
    }

    #formulario h2{
        color: #262626;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 20px;
    }

    #fondo-contacto input,
    #fondo-contacto button,
    #fondo-contacto textarea
    {
        width: 100%;
        border-radius: 12px;
        border:none;
        padding: 16px;
        font-family: Raleway;
        font-weight: 600;
        color: #707070;
    }

    #fondo-contacto input,
    #fondo-contacto textarea
    {
        border: 1px solid #e8e8e8;
        background-color: #F4F4F4;
        margin-bottom: 16px;
    }
    #fondo-contacto textarea{
        height: 100px;
        resize: none;
    }

    #fondo-contacto button{
        background-color: #FF8225;
        color: #fff;
        transition: .3s;
        padding: 12px 16px;
    }
    #fondo-contacto button:hover{
        background-color: #ca6b22;
    }

    #fondo-contacto div{
        width: 250px;
        background-color: #F4F4F4;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.6;
        border-radius: 16px;
        border: 1px solid #e8e8e8;
    }
    #fondo-contacto div img{
        width: 72px;
        height: 72px;
        border: 2px solid #000000;
        border-radius: 36px;
        padding: 2px;
        margin-top: 12px;
    }
    #fondo-contacto div a{
        color: #707070;
    }


/*##### footer #####*/

footer {
    background-color: #262626;
}
#contenido-footer{
    width: 1100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}
    #contenido-footer p{
        color: #fff;
        font-family: Raleway;
        font-weight: 300;
        font-size: 14px;
    }

    #contenido-footer a img{
        width: 16px;
        margin-right: 20px;
    }
    #contenido-footer div{
        width: 1100px;
        justify-content: end;
    }

    #contenido-footer a img:hover{
        background-color: #FF8225;
        transition: .3s;
    }
